*{
    margin: 0;
    padding: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;

}

.header{
    background-color: rgb(150, 35, 35);
    color:azure;
}
.navbar{
    display: flex;
    justify-content: space-around;
    gap:50%;
    padding-top: 30px;
}

.logo a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: "Kelly Slab", sans-serif;
}

.nav-list{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap:70px;
    position: relative;

}
.nav-list li a{
    color: azure;
    text-decoration: none;
}

/* nav hover */
.nav-list a:hover{
    color: black;
}

.checkbox{
    display: none;
}
.label{
    font-size: 1.5rem;
    display: none;
}

@media (max-width:960px){
    .nav-list{
        position: absolute;
        flex-direction: column;
        top: 15px;
        right: 10px;
        gap: 35px;
        background-color:rgb(172, 166, 166);
        padding: 50px;
        padding-top: 100px;
        z-index: 1;
        display: none;
    }


    .label{
        display: block;
        z-index: 2;
        color:black;
    }

    .checkbox:checked + .label + .nav-list{
        display:flex;
    }

}



/* HERO SECTION */

.hero{
    display: flex;
    justify-content: space-around;
}

.hero-text{
    flex-basis: 44%;
    align-self: center;
}

.hero-text h1{
    text-align: center;
    color: black;
    font-size: 3rem;
}
.hero-text h2{
    text-align: center;
    font-size: 5rem;
    font-family:Arial, Helvetica, sans-serif;
}
.hero-text p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;

}
.btn-hero1{
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 150px;


}
.btn-hero2{
    text-decoration: none;
    color:black;
    background:white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 30px;



}
.btn-hero1:hover{
    background-color: white;
    color: black;

}
.btn-hero2:hover{
    background-color: black;
    color: white;

}


.hero-img img{
    width: 800px;
}

@media (max-width:1000px){
    .hero{
        flex-direction: column;
    }
    .hero{
        margin-top: 60px;
    }
    .hero-text h1{
        font-size: 2rem;
    }
    .hero-text h2{
        font-size: 3rem;
    }
    .hero-text p{
        font-size: 1rem;
        margin-left: 25px;
        margin-right: 25px;
    }
    .btn-hero2{
        margin-left:30px;
    }
    .btn-hero1{
        margin-left: 80px;
    }
    .hero-img img{
        width: 400px;
        margin-left: 20px;

    }

}

/* 
about me */
.about-me{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 70vh;
}
.about-me h1{
    flex-basis: 44%;
    font-size: 5rem;
    color: rgb(150, 35, 35);
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
}
.about-me p{
    flex-basis: 40%;
    font-size: 1.5rem;
    text-align: left;
    border-left: 5px solid red;
    padding: 30px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

@media (max-width:1000px){
    .about-me{
        display: block;
        margin: 50px;
        margin-top: 100px;
        height: 50vh;
    }

    .about-me h1{
        flex-basis: auto;
        font-size: 2.5rem;
    }
    .about-me p{
        flex-basis: auto;
        border: none;
        font-size: 1.2rem;
        font-weight: 500;
    }

}
